.HomePacks {
  padding: 15vw 0;
}

.HomePacksContainer {
  padding-bottom: 15vw;
}

.AngledBoxBrownLine {
  position: absolute;
  left: 5vw;
  color: $color-variacion6;
}

.HomePacksIcon {
  margin: 25vw 0 4vw 60vw;
}

.HomePacksTitle {
  position: absolute;
  right: 10vw;
  color: $color-variacion6;
}

.HomePacksText {
  text-align: end;
  width: 68vw;
  margin-left: 12vw;
  font-size: 5.3vw;
}

.HomePacksButton {
  width: 50vw;
  position: absolute;
  bottom: 10vw;
  right: 10vw;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  color: $color-claro;
  background-color: $color-variacion6;
  font-family: $Fuente2;
  @include buttons;
  &:hover {
    background-color: $color-variacion8;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1100px) {
  .HomePacks {
    padding: 8vw 0 4vw;
  }

  .HomePacksContainer {
    padding: 5vw 0;
  }

  .HomePacksIcon {
    margin: 1.5vw 0 0 -9.5vw;
    width: 4.2vw;
  }

  .AngledBoxBrownLine {
    position: relative;
    left: auto;
  }

  .HomePacksTitle {
    margin-top: -3vw;
    position: relative;
    right: auto;
  }

  .HomePacksText {
    margin-left: 0vw;
    width: 16vw;
    font-size: 1.1vw;
  }

  .HomePacksButton {
    transform: scale(0.8);
    width: 12.5vw;
    bottom: 3.5vw;
    right: 5.5vw;
    @include buttons;
  }
}
