.GuideCalendlyPage {
  position: relative;
}

.ThanksContainer {
  padding-top: 35vw;
  background-color: $color-variacion3;
  &__Content {
    width: 90%;
    padding: 5vw 0 7vw;
    position: relative;
    z-index: 2;
    margin: 0 5% -14vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-variacion1;
    &--Icon {
      width: 15vw;
    }
    &--Title {
      width: 85%;
      font-size: 7.5vw;
      letter-spacing: 0.4vw;
      margin: 3vw 0 0;
      text-align: center;
      line-height: 120%;
      color: $color-claro;
      font-family: $Fuente1;
    }
    &--Download {
      width: 75%;
      border-radius: 50vw;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3vw 0;
      margin: 6vw 0;
      text-decoration: none;

      background-color: $color-variacion7;
      & p {
        margin: 0;
        letter-spacing: 0.4vw;
        margin-right: 3vw;
        font-size: 4.5vw;
        text-decoration: none;

        font-family: $Fuente3;
        color: $color-claro;
      }
      & div {
        display: flex;
        width: 5.5vw;
        height: 5.5vw;
        margin: -1vw 0 0;
        background-image: url(../../assets/download-icon.svg);
        background-size: 95%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &--Text1 {
      width: 85%;
      font-size: 5vw;
      letter-spacing: 0.3vw;
      text-align: center;
      line-height: 120%;
      margin: 0 0;

      font-family: $Fuente1;
      color: $color-claro;
    }
  }
}

.CalendlyContainer {
  width: 100%;
  padding: 27vw 0 10vw;
  display: flex;
  flex-direction: column;
  background-color: $color-variacion4;
  &__TitleContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    &--Icon {
      width: 15vw;
    }
    &--Title {
      width: 95%;
      letter-spacing: 0.3vw;
      text-align: center;
      font-size: 6.5vw;
      margin: 3vw 0 0;
      font-family: $Fuente1;
      color: $color-claro;
    }
  }
  &__Calendly {
    display: flex;
    margin-top: 8vw;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1100px) {
  .ThanksContainer {
    padding-top: 10vw;
    &__Content {
      width: 40%;
      padding: 2vw 0 4vw;
      margin: 0 30% -8vw;
      &--Icon {
        width: 3vw;
      }
      &--Title {
        width: 85%;
        font-size: 3vw;
        letter-spacing: 0.15vw;
        margin: 1vw 0 0;
      }
      &--Download {
        width: 40%;

        padding: 1.2vw 0;
        margin: 1.5vw 0;
        will-change: background-color;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          background-color: $color-variacion5;
        }
        & p {
          margin: 0;
          letter-spacing: 0.1vw;
          margin-right: 0.6vw;
          font-size: 1vw;
        }
        & div {
          width: 1.4vw;
          height: 1.4vw;
          margin: -0.5vw 0 0;
        }
      }
      &--Text1 {
        letter-spacing: 0.1vw;
        width: 60%;
        font-size: 1.6vw;
        margin: 0;
      }
    }
  }
  .CalendlyContainer {
    padding: 11vw 0 5vw;
    &__TitleContainer {
      width: 35%;
      &--Icon {
        width: 3vw;
      }
      &--Title {
        width: 100%;
        letter-spacing: 0.1vw;
        font-size: 1.5vw;
        margin: 1vw 0 0;
      }
    }
    &__Calendly {
      margin-top: 2vw;
    }
  }
}
